<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        Ah, you, the intrepid explorer of our glorious "About Us" page. We commend your bravery, because frankly, there are cat videos out there. But hey, at least you're cultured enough to appreciate the finer things in life, like deciphering the ramblings of a bunch of sleep-deprived coders.<br><br>

            Look, we won't sugarcoat it. We built BLOG BOOK in a caffeine-fueled haze, fueled by questionable life choices and an unhealthy obsession with learning Node.js (don't ask us to explain it, it involves a lot of existential dread and cryptic error messages).<br><br>
            
            So, what exactly is BLOG BOOK? Well, it's kind of like that "mystery meat" dish at a potluck. You're not entirely sure what's in it (we used a lot of technical jargon, but hey, it sounds fancy!), but you're strangely compelled to try it. Maybe it'll be delicious, maybe it'll give you a stomach ache. But hey, you won't know until you dive in, right?<br><br>
            
            Speaking of diving in, we threw a bunch of coding buzzwords at this bad boy like confetti at a toddler's birthday party (Node.js! Express! MongoDB! Mongoose! EJS! MVC!). Don't worry, you don't need a PhD in Computer Science to use BLOG BOOK. It's about as user-friendly as convincing your cat to wear a tiny sombrero (it's possible, but highly inadvisable).<br><br>
            
            So, are you a blogging rockstar with a Pulitzer Prize in your back pocket? Fantastic! Come unleash your inner Hemingway (or Kardashian, we don't discriminate). More of a shower singer with a blog full of sock puppet reenactments of historical events? You're our people!<br><br>
            
            BLOG BOOK is here to make your blogging dreams a reality, no matter how strange or nonsensical they may be. Just remember, with great blogging power comes great responsibility (and the responsibility to avoid making us read anything truly horrifying).<br><br>
            
            So come on in, create a blog, and let your freak flag fly! Just try not to break anything with your, uh, unique content. We promise, we'll only make fun of you in a loving way. (Mostly.)<br><br>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>